body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:550px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u525_div {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:430px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u525 {
  position:absolute;
  left:20px;
  top:20px;
  width:530px;
  height:430px;
}
#u526 {
  position:absolute;
  left:2px;
  top:207px;
  width:526px;
  visibility:hidden;
  word-wrap:break-word;
}
#u527_div {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:49px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(226, 226, 226, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u527 {
  position:absolute;
  left:20px;
  top:20px;
  width:530px;
  height:49px;
}
#u528 {
  position:absolute;
  left:2px;
  top:16px;
  width:526px;
  visibility:hidden;
  word-wrap:break-word;
}
#u529_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:30px;
  background:inherit;
  background-color:rgba(46, 141, 237, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(46, 141, 237, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u529 {
  position:absolute;
  left:468px;
  top:400px;
  width:62px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u530 {
  position:absolute;
  left:2px;
  top:5px;
  width:58px;
  word-wrap:break-word;
}
#u531_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u531 {
  position:absolute;
  left:37px;
  top:34px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u532 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u533_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u533 {
  position:absolute;
  left:508px;
  top:26px;
  width:22px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u533_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u533.mouseOver {
}
#u534 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u535_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:30px;
  background:inherit;
  background-color:rgba(241, 241, 241, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(222, 222, 222, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u535 {
  position:absolute;
  left:380px;
  top:400px;
  width:62px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u536 {
  position:absolute;
  left:2px;
  top:5px;
  width:58px;
  word-wrap:break-word;
}
#u537_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u537 {
  position:absolute;
  left:32px;
  top:90px;
  width:34px;
  height:16px;
}
#u538 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u539 {
  position:absolute;
  left:104px;
  top:86px;
  width:135px;
  height:25px;
}
#u539_input {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u540_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u540 {
  position:absolute;
  left:310px;
  top:91px;
  width:34px;
  height:16px;
}
#u541 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u542 {
  position:absolute;
  left:382px;
  top:88px;
  width:138px;
  height:22px;
}
#u542_input {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u542_input:disabled {
  color:grayText;
}
#u543_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u543 {
  position:absolute;
  left:32px;
  top:143px;
  width:62px;
  height:16px;
}
#u544 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u545 {
  position:absolute;
  left:104px;
  top:140px;
  width:138px;
  height:22px;
}
#u545_input {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u545_input:disabled {
  color:grayText;
}
#u546_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u546 {
  position:absolute;
  left:310px;
  top:143px;
  width:62px;
  height:16px;
}
#u547 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u548 {
  position:absolute;
  left:382px;
  top:140px;
  width:138px;
  height:22px;
}
#u548_input {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u548_input:disabled {
  color:grayText;
}
