body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u159 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  font-size:16px;
  color:#FFFFFF;
}
#u160 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  word-wrap:break-word;
}
#u161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u162 {
  position:absolute;
  left:0px;
  top:18px;
  width:55px;
  word-wrap:break-word;
}
#u163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:612px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u163 {
  position:absolute;
  left:0px;
  top:55px;
  width:375px;
  height:612px;
}
#u164 {
  position:absolute;
  left:2px;
  top:298px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:190px;
}
#u165 {
  position:absolute;
  left:0px;
  top:55px;
  width:375px;
  height:190px;
}
#u166 {
  position:absolute;
  left:2px;
  top:87px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u167 {
  position:absolute;
  left:22px;
  top:295px;
  width:331px;
  height:35px;
}
#u168 {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  white-space:nowrap;
}
