body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  font-size:16px;
  color:#FFFFFF;
}
#u114 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  word-wrap:break-word;
}
#u115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u116 {
  position:absolute;
  left:0px;
  top:18px;
  width:55px;
  word-wrap:break-word;
}
#u117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:612px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u117 {
  position:absolute;
  left:0px;
  top:55px;
  width:375px;
  height:612px;
}
#u118 {
  position:absolute;
  left:2px;
  top:298px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:220px;
}
#u119 {
  position:absolute;
  left:20px;
  top:269px;
  width:330px;
  height:220px;
}
#u120 {
  position:absolute;
  left:2px;
  top:102px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:136px;
}
#u121 {
  position:absolute;
  left:20px;
  top:667px;
  width:330px;
  height:136px;
}
#u122 {
  position:absolute;
  left:2px;
  top:60px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
}
#u123 {
  position:absolute;
  left:103px;
  top:62px;
  width:169px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:167px;
}
#u125 {
  position:absolute;
  left:20px;
  top:1070px;
  width:330px;
  height:167px;
}
#u126 {
  position:absolute;
  left:2px;
  top:76px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:176px;
}
#u127 {
  position:absolute;
  left:20px;
  top:86px;
  width:330px;
  height:176px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:160px;
}
#u129 {
  position:absolute;
  left:20px;
  top:499px;
  width:330px;
  height:160px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:240px;
}
#u131 {
  position:absolute;
  left:20px;
  top:813px;
  width:330px;
  height:240px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:240px;
}
#u133 {
  position:absolute;
  left:20px;
  top:1254px;
  width:330px;
  height:240px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
